html::-webkit-scrollbar {
    -webkit-appearance: none;
}
  
html::-webkit-scrollbar:vertical {
    width:16px;
}

html::-webkit-scrollbar-button:increment,html::-webkit-scrollbar-button {
    display: none;
} 

html::-webkit-scrollbar:vertical {
    height: 10px;
}

html::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

html::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.main {
    min-width: 100vw;
    min-height: 100vh;
    background-color: red;
}